// Define variables for your color scheme

// Colors

$red: #800008;
$blue: #5B9CE6;
$blue-light: #8AB3D0;
$blue-dark: #456A8B;
$navy: #162B4D;
$teal: #6FB7D2;
$green-camo: #614D25;
$brown: #4D2723;
$brown-light: #7C5244;
$brown-dark: #481211;
$purple: #5F3861;
$gold: #D4A76C;

// Grey scale

$white: #FAF5ED;
$white90: #F9F4EB;
$white80: #E9E3DA;
$white70: #E2DCD2;
$white60: #DDD7CD;
$white50: #D9D3C9;
$white40: #D6CFC4;
$white30: #D0C9BE;
$white20: #B6AEA1;
$white10: #A9A192;

$black: #0D0D0D;
$black90: #262727;
$black80: #302C28;
$black70: #3B372F;
