// body {
//   background-color: $red;
//   background-image: asset-url('bg-texture');
//   background-blend-mode: multiply;
// }

a {
  text-decoration: none;
}

.plus-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  font-size: 32px;
  color: $black;
}

section {
  border: 1px solid black;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}

.card-link {
  height: inherit;
}

.trash-icon {
  color: $white;
  font-size: 12px;
  margin-left: 70%;
  margin-bottom: 5%;
}

.icon {
  text-decoration: none;
  color: $black;
}

.room-card {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12px;
  width: 40vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.container {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms-cards-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;

  a {
    text-decoration: none;
    color: white;
  }
}

.room-selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}
