 body {
//   background-color: $red;
   background-image: asset-url('bg-texture');
//   background-blend-mode: multiply;
 }

 a{
  color: $white;
  text-decoration: none;

  &:visited{
    color: $white80;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    color: $white60;
    text-decoration: none;
  }
  &:active{
    color: $white40;
    opacity: 1;
    text-decoration: none;
  }
}

.plus-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  font-size: 32px;
  color: $black;
}

section {
  border: 1px solid black;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}

.card-link {
  height: inherit;
}

.trash-icon {
  color: $white;
  font-size: 20px;
  text-align: right;
}

.icon {
  text-decoration: none;
  color: $black;
}

.container {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 0;
  font-family: $styled-font;
}

h2 {
  font-size: 24px;
  margin: 0;
  font-family: $headers-font;
}

h3 {
  font-size: 18px;
  margin: 0;
  font-family: $headers-font;
}

h4 {
  font-size: 16px;
  margin: 0;
  font-family: $headers-font;
}

p {
  font-size: 14px;
  margin: 0;
  font-family: $body-font;
}

div a {
  text-decoration: none;
  font-family: $body-font;
}

.buttons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
