body {
  background-color: $red;
  background-image: asset-url('bg-texture');
  background-blend-mode: multiply;
}

section {
  border: 1px solid black;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
}
