.jobs-container {
  width: 90%;
  margin: 32px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 48px;
  }
}

.job-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 27% 21%;
  border: 1px solid $red;
}

.jobs-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 64px;

  a {
    color: $red;
  }
}

.job-selection-button {
  color: $red;
  font-size: 14px;
  border: 1px solid $red;
}

.job-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
