.rooms-cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 0;

  a {
    text-decoration: none;
    color: white;
  }
}

.room-selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-card {
  background-size: cover;
  background-position: center center;
  padding-top: 12px;
  width: 95vw;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  display: grid;
  border-radius: 8px;
}

.room-card-bg {
  background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.3)),
                    asset-url(room-default);
  background-size: cover;
  background-position: center center;
                  }


.room-card-title {
  text-align: right;
  padding-right: 10px;
  padding-top: 142px;
  text-shadow: 0px 5px 10px $red, -1px -1px 1px $red;
  color: $white;
}
a .trash-icon {
  grid-area: "trash";
  color: $white;
  position: relative;
  top: -200px;
  float: right;
  right: 10px;
  background-color: $red;
  border-radius: 50%;
  padding: 10px;
  box-shadow: inset 0px 0px 10px $black;
}

.room-input {
  width: 80%;
  text-align: center;
  border-radius: 8px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 14px;
  font-family: $headers-font;
}

.room-button {
  padding: 4px 2px;
  margin: 15px 0;
  border: 3px solid rgba(13, 13, 13, 0.6);
  background-image: url(/assets/bg-card-be77593….png);
  border-radius: 8px;
  color: #FAF5ED !important;
  font-size: 18px;
  font-family: "Gin", "Helvetica", "sans-serif";
  background-color: #800008 !important;
}

.room-icon {
  font-size: 3em;
  color: $red;
  border-radius: 8px;
  padding: 10px;
}

.room-characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

#no-characters {
  text-align: center;
  font-size: 1.3em;
  color: $white;
  margin: 15px;
}

.room-button2 {
  padding: 4px 2px;
  margin: 35px 0;
  border: 3px solid rgba(13, 13, 13, 0.6);
  background-image: url(/assets/bg-card-be77593….png);
  border-radius: 8px;
  color: #FAF5ED !important;
  font-size: 18px;
  font-family: "Gin", "Helvetica", "sans-serif";
  background-color: #800008 !important;
}
