.character-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 64px;
}

#character-picture-pen {

  position: absolute;
  bottom: 20px;
  right: 20px;

  i {
    color: $white70;
    font-size: 24px;
  }
}

.character-infos {
  display: grid;
  background-color: $white70;
  width: 90%;
  margin: 24px;
  border-radius: 8px;

  div {
    border-bottom: 1px solid black;
    display: flex;
    align-items: end;
    padding: 8px;
  }

  .character-infos-last {
    border-bottom: none;
  }

  p {
    margin-left: 16px;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    color: $blue;
  }

}

.character-picture {
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  position: relative;

  ul {
    list-style: none;
    padding-left: 5%;

    li {
      margin-right: 12px;
    }

    h3 {
      color: $white;
      font-size: 35px;
    }

    div {
      display: flex;
      margin-top: 8px;
    }
  }
}

.character-show-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 27% 21%;
  border: 1px solid $red;
}

.character-background {
  width: 90%;
  text-align: justify;

  h3 {
    margin-bottom: 12px;
  }
}

.character-infos2 {
  display: grid;
  background-color: $white70;
  width: 90%;
  margin: 24px;
  border-radius: 8px;

  div {
    border-bottom: 1px solid black;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 8px;
  }

  .character-infos-last {
    border-bottom: none;
  }

  p {
    margin-left: 16px;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    color: $blue;
  }

}

#character-infos-first {

  justify-content: space-evenly;

  div {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.character-show-icon2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 27% 21%;
  border: 2px solid $red;
}

.fa-pen {
  color: $navy;
  font-size: 12px;
  margin-left: 4px;
}
