.spells-container {
  width: 90%;
  margin: 32px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#new_character_spell {
  display: flex;
  justify-content: center;
  align-items: initial;
  margin-bottom: 12px;
}

.spell-input {
  background-color: white;
  padding: 8px;
  border: 1px solid black;
  margin: 5% 0%;
  border-radius: 8px;

  p {
    text-align: justify;
  }
}

.spell-selection-button {
  color: $red;
  font-size: 14px;
  border: 1px solid $red;
}

.spell-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
