<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

  <div class="show-room-links">
    <%= render "shared/backbutton" %>
    <%= render "shared/homebutton" %>
    <div class="show-room-link" >
      <%= link_to  edit_character_characteristics_list_path(@character) do %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    </div>
  </div>
