<h1>Skills</h1>
<p>Select your character skill</p>
<% n=3 %>
<p><%= n>1 ? "Skills" : "Skill"%> remaining  <%= n %></p>
<ul>
  <% @skills.each do |skill| %>
    <li><strong><%= skill.name %></strong></li>
    <li><%= skill.description %></li>
    <a href="#">Select this skill</a>
    <br>
  <% end %>
</ul>
