<h1>Skills</h1>

<div data-controller="counter">

  <p>Select <span data-counter-target="counter"><%= 5 - @character.skills.count %></span> more skills</p>
  <%= render 'shared/skills_form' %>
  <%= link_to "Finish", character_spells_path(@character) %>

</div>
