<h1>Gifts</h1>

<div data-controller="counter">

  <p>Select <span data-counter-target="counter"><%= 5 - @character.gifts.count %></span> more gifts</p>
  <%= render 'shared/gifts_form' %>
  <%= link_to "Finish", character_skills_path(@character) %>

</div>
