<div class="gifts-container">

  <div class="progress-bar">
    <h3>70%</h3>
    <progress max="100" value="70"></progress>
  </div>

  <h1>Gifts</h1>

  <div data-controller="counter">
    <p>Select <span data-counter-target="counter"><%= 5 - @character.gifts.count %></span> more gifts</p>
    <%= render 'shared/gifts_form' %>
    <%= link_to "Finish", character_skills_path(@character), class: "new-character-form-button" %>
  </div>

</div>
