<section>
  <%= link_to gm_path do %>
    <div class="diagonalHover first">
      <p class="gm">Game Master</p>
    </div>
  <% end %>

 <div class="logo"></div>
 <div class="logo-bg"></div>

  <%= link_to player_path do %>
    <div class="diagonalHover second">
      <p class="player">Player</p>
    </div>
  <% end %>
</section>
