<h2>90%</h2>
<progress max="100" value="90"></progress>

<h1>Spells</h1>

<div data-controller="counter">

  <p>Select <span data-counter-target="counter"><%= 5 - @character.spells.count %></span> more spells</p>
  <%= render 'shared/spells_form' %>
  <%= link_to "Finish", room_character_path(@room, @character) %>

</div>
